
body {
	background: #373B44;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	@font-family: "Raleway" , san-serif;
}

/*
======== Paleta de colores =========
Cyan Clouds  73C8A9

morning light    DEE1B6

Soft  E1B866

Orange Cloudsby   BD5532

lowlight   373B44





*/
* {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", "Sinkin Sans", "Times New Roman", Times, Arial, serif;
	font-weight: 400;
	margin-bottom: 20px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2.0rem;
}

a,
li,
h5,
p,
span {
	font-size: 16px;
	font-size: 1.6rem;
}



ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

li {
	padding-left: 5px;
}

nav {
	margin: 5px;
	padding: 8px;
}

nav ul li {
	display: inline-block;
	margin: 5px;
}
.navigator {
	display: inline-block;
	text-align: end;
	list-style: none;
}

.navigator a {
	text-decoration: none;
	color: #DEE1B6;
}

.navigator li{
	border: 2px solid #BD5532;
	padding: 2%;
}


#content{
	max-width: 1080px;
	margin: 0 auto;
}

.contact-items {
	color: #DEE1B6;
	display: -webkit-box;
	list-style: none;
}

.proyect-columns{
	overflow: hidden;
	margin-left: 40px;
	border: 1px solid #BD5532;
	width: 30%;
	margin: 0% 1% 0% 1%;
}

.experience-list{
	overflow: hidden;
	margin-left: 40px;
	border: 1px solid #BD5532;
	width: 25%;
	margin: 0% 1% 0% 1%;
}

#home {
	padding-top: 5%;
}
.row {
	overflow: hidden;
	margin-bottom: 40px;
}
.form-columns {
	width: 50%;
}

.form-columns,
.proyect-columns,
.two-columns {
	display: inline-block;
	float: left;
	padding: 10px 15px;
}


.input-contact {
  background: #FAFAFA;
  border: none;
  color: #5A5A5A;
  display: block;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 8px;
  width: 100%;
}

.text-contact {
	background: #FAFAFA;
	border: none;
	color: #5A5A5A;
	display: block;
	height: 142px;
	margin-bottom: 15px;
	resize: none;
	padding: 8px 10px;
	width: 100%;
}