

/*
======== Paleta de colores =========
Cyan Clouds  73C8A9

morning light    DEE1B6

Soft  E1B866

Orange Cloudsby   BD5532

lowlight   373B44


*/

.about-items{
	text-align: center;
}
.navigator-list {
	text-align: center;
	list-style: none;
}

.navigator-list a {
	
	color: #DEE1B6;
}

.navigator-list li{
	border: 2px solid #BD5532;
	padding: 2%;
}


#content{
	width: 1080px;
	max-width: 90%;
	margin: 0 auto;
}

.contact-items {
	color: #DEE1B6;
	display: -webkit-box;
	list-style: none;
}

.project-columns{
	overflow: hidden;
	margin-left: 40px;
	border: 1px solid #BD5532;
	width: 30%;
	margin: 0% 1% 0% 1%;
}

.social-network-list {
	overflow: hidden;
	margin-left: 40px;
	border: 1px solid #BD5532;
	width: 25%;
	margin: 0% 1% 0% 1%;
}

.row {
	overflow: hidden;
	margin-bottom: 40px;
}
.form-columns {
	width: 50%;
}

.form-columns,
.project-columns {
	display: inline-block;
	float: left;
	padding: 10px 15px;
}

.project-balcony {
	margin-top: 10%;
	margin-bottom: 10%;
}


.input-contact {
  background: #FAFAFA;
  border: none;
  color: #5A5A5A;
  display: block;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 8px;
  width: 100%;
}

.text-contact {
	background: #FAFAFA;
	border: none;
	color: #5A5A5A;
	display: block;
	height: 142px;
	margin-bottom: 15px;
	resize: none;
	padding: 8px 10px;
	width: 100%;
}
