*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "Raleway" , "Times New Roman", Times, Arial, serif;
	color: #DEE1B6;
}

body {
	background: #373B44;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	@font-family: "Raleway" , san-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

header,
main,
section {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway" , "Times New Roman", Times, Arial, serif;
	font-weight: 400;
	margin-bottom: 20px;
}



h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2.0rem;
}

h6 {
	font-size: 12px;
	font-size: 1.2rem;
}

a,
li,
h5,
p,
span {
	font-size: 20px;
	font-size: 2.0rem;
}

em {
	font-size: larger;
}

li {
	display: inline-block;
	margin: 3%;
}

nav {
	margin: 5px;
	padding: 8px;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}


ol {
	display: -webkit-inline-box;
}
